.NotesGrid {
  padding: 16px;
  height: 100%;
  //background-color: palevioletred;
  display: flex;
  max-width: 100%;
  //flex-wrap: wrap;
}

.Note {
  background: #fff;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid inherit;
  border-radius: 3px;
  width: 250px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  transition: box-shadow .3s;
  white-space: pre-wrap;
  word-wrap: break-word;
  float: left;

  &:hover {
    box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
  }
}